html{
    font-family: 'Gantari', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

h1{
    text-align: center;
}

p{
    color: darkgray;
}

#manifesto{
    height: 950px;
}

.text-box{
    width: 1000px;
    height: 500px;
}